    .input-width {
        width:100%;
    }

.asset-overview-accordion {
    padding-bottom:10px;
}

.asset-overview-accordion label {
    font-size: 12px;
}
.asset-overview-accordion input, .asset-overview-accordion select, .asset-overview-accordion ng-select {
    font-size: 12px;
    margin: 5px;
}

.asset-overview-mt-10 {
    margin-top: 10px;
}
.c8y-switch
{
    overflow: visible;
}
.dlt-c8y-icon{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: dlt-c8y-icons!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

