.input-width {
    width: 100%;
}

.asset-overview-accordion {
    padding-bottom:10px;
}

.asset-overview-accordion label {
    font-size: 12px;
}
.asset-overview-accordion input, .asset-overview-accordion select, .asset-overview-accordion ng-select {
    font-size: 12px;
    margin: 5px;
}

.asset-overview-mt-10 {
    margin-top: 10px;
}



