.btn-default btn-icon {
    text-align: left;
    padding: auto;
}
.mat-tree-node {
    display: list-item;
    align-items: baseline;
    flex: 1;
    word-wrap: break-word;
}
.col-sm-3 {
    border-color: aquamarine;
}

li[aria-expanded='false']>ul {
    display: none;
}

li[aria-expanded='true']>ul {
    display: block;
}

li>span:hover {
    cursor: pointer;
}
.card {
    padding: 0px 0px 0px 12px;
    box-shadow: none;
    
}
.card-inner-scroll
 {
    overflow:hidden;
}
.refresh-panel {
    float: right;
  }
.assetName {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
}
.assetCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px !important;
}
.asset-name {
    margin-left: 10px;
    cursor: pointer;
    /*     font-size: 14px;
    color: rgb(1, 31, 61);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top: 12px; */
}
.asset-c8y-tree-view-node {
    position: relative;
    display: block;
}
.asset-overview-root:before {
    border-bottom: none !important;
    border-left: none !important;
}
.asset-overview-root:after {
    border-bottom: none !important;
    border-left: none !important;
}
.asset-overview-root ul {
    padding-inline-start: 20px;
}
.asset-overview-tree-card:first-child {
    margin-left: -30px;
}
.c8y-tree-view-node__block {
    margin-bottom: var(--c8y-unit-base);
    border: 1px solid #ccc6;
    border-radius: 0px;
    padding-left: 5px;
}
.c8y-tree-view-node__block:hover {
    background-color: rgb(85 218 222)
}
.collapse-expand-icon {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 5px;
    cursor: pointer;
}
.text-truncate {
    display: inline-block !important;
}
.criticalAlerts {
    background-color: #e0000e;
}
.majorAlerts {
    background-color: #e66400;
}
.minorAlerts {
    background-color: #f66f08;
}
.warningAlerts {
    background-color: #1c8ce3;
}
.criticalAlerts2 {
    color: #e0000e;
}
.majorAlerts2 {
    color: #e66400;
}
.minorAlerts2 {
    color: #ff801f;
}
.warningAlerts2 {
    color: #1c8ce3;
}
.majorAlert {
    color: #e66400;
}

.active>div {
    background-color:rgb(68 189 193);
}
ul {
    margin: 0;
    padding-left: 25px;
}
ul li {
    position: relative;
}
ul li:before {
    position: absolute;
    top: -8px;
    left: -15px;
    display: block;
    width: 15px;
    height: 20px;
    content: "";
    border-bottom: 1px solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
    border-left: 1px solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
}
/* hide the vertical line on the first item */
ul.asset-c8y-tree-view-node>li:first-child:before {
    border-left: none;
}
ul li:after {
    position: absolute;
    top: 10px;
    bottom: -10px;
    left: -15px;
    display: block;
    content: "";
    border-left: 1px solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
}
/* hide the lines on the last item */
ul li:last-child:after {
    display: none;
}
.asset-overview-pager {
    padding: 5px;
    cursor: pointer;
}
.two-column-table {
    margin-top: 10px;
}
.two-column-table td {
    padding: 3px;
    line-height: 2;
}
.two-column-table tr {
    line-height: 10px;
}
.two-column-table tbody {
    display: block;
}
.first {
    width: 20%;
    display: inline-block;
}
.second {
    width: 35%;
    display: inline-block;
}

.third {
    width: 30%;
    display: inline-block;
}
@media screen and (max-width: 500px) {
    .first,
    .second,
    .third {
        width: 70%;
    }
}
.card.card-dashboard > .card-inner-scroll {
    overflow: hidden;
}
.btn-clean
{
    padding: 7px;
}

.arrow-up-degree
{
    transform:rotate(45deg);
}

.arrow-down-degree
{
    transform:rotate(145deg);
}
.border-bottom-none
{
    border-bottom: none !important;
}
.pointer:hover{
    cursor: pointer;
}
.dot.dot-30 {
    font-size: 14px;
    width: 26px;
    height: 26px;
    line-height: 32px;
}
.border-bottom-none{
    padding-top:14px;
    padding: 4px;
}

