.btn-default btn-icon {
    text-align: left;
    padding: auto;

}


.mat-tree-node {
    display: list-item;
    align-items: baseline;
    flex: 1;
    word-wrap: break-word;

}

.col-sm-3 {
    border-color: aquamarine;
}

li[aria-expanded='false']>ul {
    display: none;
}

li[aria-expanded='true']>ul {
    display: block;
}

li>span:hover {
    cursor: pointer;
}

.card {
    padding: 0px 0px 0px 9px;
    box-shadow: none;
}

.card-content {
    display: flex;
    font-size: 14px;
}

.card-content-item {
    padding: 5px;
}

.card-content-item span {
    padding: 3px;
    display: block;
    max-width: 150px;
    font-size: 14px;
}

.card-text-value span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100px;
    font-size: 14px;
}

.assetName {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
}

.assetCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px !important;
}

.config-accordion {
    padding-bottom: 10px;
}

.config-accordion label {
    font-size: 12px;
}

.config-accordion input,
.config-accordion select,
.config-accordion ng-select {
    font-size: 12px;
    margin: 5px;
}

.asset-name {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(1, 31, 61);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-top: 12px;
}

.asset-c8y-tree-view-node {
    position: relative;
    display: block;
}

.expanded.asset-c8y-tree-view-node:before {
    border-width: 1px;
    border-bottom: 1px solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
    border-left: 1px solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
    border-right: 0 solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
    border-top: 0 solid var(--c8y-component-brand-primary, var(--c8y-root-component-brand-primary));
    content: "";
    height: 64px;
    position: absolute;
    transform: translate(-40px, -40px);
    width: 17px;
}

.asset-viewer-root:before {
    border-bottom: none !important;
    border-left: none !important;
}

.c8y-tree-view-node__block {
    /*box-shadow: inset -1px 0 0 0 var(--c8y-component-border-color,var(--c8y-root-component-border-color));
    display: flex;*/
    margin-bottom: var(--c8y-unit-base);
    min-height: calc(var(--c8y-unit-base)*6);
    border: 1px solid #ccc6;
    border-radius: 0px;
}

li.expanded:last-child>.asset-c8y-tree-view-node:before {
    border-left-color: transparent !important;
}

.list-group {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-auto-flow: column;
}